$bgcolor: #5E6775;
$content-border: #1E7FB0;

body {
    background: $bgcolor;
    font-family: arial, verdana;
    vertical-align: middle;
}

.header {
    width: 500px;
    padding: 20px 10px;
}

.content {  
    width: 500px;
    border: 5px solid $content-border;
    padding: 10px;    
}

#form_error {
    padding: 3px 10px;
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
} 